<!DOCTYPE html>
<html>
<head>
    <title>О нас</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>О нас</h1>
    <p>Наше туристическое агентство предлагает лучшие туры по всему миру!</p>
    <a href="/">На главную</a>
</body>
</html>